apiVersion: v1
kind: Secret
metadata:
  name: pipo-os
  namespace: default
type: Opaque
stringData:
  SENTRY_DSN: "${SENTRY_DSN}"
  COOKIE_SECRET: "${COOKIE_SECRET}"
  GOOGLE_OAUTH_CLIENT_ID: "${GOOGLE_OAUTH_CLIENT_ID}"
