.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--pipo-space-medium);
  padding: var(--pipo-space-small) var(--pipo-space-medium);
  border-bottom: var(--pipo-border-width-small) solid var(--pipo-border);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--pipo-space-medium);
}
